@media (max-width: 1200px) {
  .main-nav__nav {
    & > .main-nav__item {
      min-height: 52px;
      & > .main-nav__link {
        line-height: 52px;
      }
    }
    & > .main-nav__item-signup {
      & > .main-nav__link {
        line-height: 41px;
      }
    }
  }

  #main-nav .main-nav__nav .main-nav__item-user > a {
    line-height: 52px;
  }

  .footer-copyright__item {
    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 50px;
    }
  }
}

@media (max-width: 1170px) {
  .popular-grub__cuisines {
    padding-right: 15px;
    padding-left: 15px;
  }
  .popular-grub__cuisine-item:last-child {
    margin-right: 24px;
  }
}

@media (max-width: 992px) {
  .footer-copyright {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .logo-box-container > .logo-box {
    width: 100%;
  }

  .nav-container {
    padding-left: 15px;
    z-index: 3;
  }

  .main-nav__nav {
    background-color: @main-black-color;
  }

  .main-nav__nav > .main-nav__item {
    text-align: center;
  }

  .main-nav__nav > .main-nav__item-signup {
    padding-right: 14px;
  }

  .global-header__search-container > h1 {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .global-header__search-form {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
  }

  .global-header__search-form .input-group {
    display: block;
    margin-right: 0;
    &:nth-child(1),
    &:nth-child(2) {
      width: 290px;
    }
  }
}

@media (max-width: 585px) {
  .footer-copyright__item {
    display: block;
    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media (max-width: 400px) {
  .navbtn-box > .navbtn {
    margin-top: 15px;
    margin-right: 0;
  }
}