@import "_vars";
@import "_fonts";
@import "_header";
@import "_footer";
@import "_mq";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

main {
  //padding-bottom: 309px;
}

/*
::-webkit-input-placeholder { !* WebKit, Blink, Edge *!
  color:    #909;
}
:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!
  color:    #909;
  opacity:  1;
}
::-moz-placeholder { !* Mozilla Firefox 19+ *!
  color:    #909;
  opacity:  1;
}
:-ms-input-placeholder { !* Internet Explorer 10-11 *!
  color:    #909;
}
::-ms-input-placeholder { !* Microsoft Edge *!
  color:    #909;
}*/
